<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Creacion de credito</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_creacion" method="POST" action="{% url 'credito:crear_credito' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">

                </div>
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="form-group">
                            {{ form.solicitud_credito.label }}
                            {{ form.solicitud_credito }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.monto.label }}
                            {{ form.monto }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.tasa_de_interes.label }}
                            {{ form.tasa_de_interes }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.plazo_en_meses.label }}
                            {{ form.plazo_en_meses }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.fecha_creacion.label }}
                            {{ form.fecha_creacion }}
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            {{ form.estado.label }}
                            {{ form.estado }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar(listadoCreditos());">Confirmar</button>
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacion();">Cancelar</button>
            </div>
        </form>
    </div>
</div>