
{% extends 'index.html' %}

{% block titulo %}
    Confirmación de eliminación
{% endblock titulo %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Confirmación</div>
            <div class="card-body card-block">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col">
                            <p><strong>¿Desea eliminar el cliente {{ object }}?</strong></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Si, eliminar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Volver
                </button>
            </div>
        </div>
    </div><!-- /# column -->
</div>

{% endblock body %}
