<!-- Heredar desde la plantilla Index -->
{% extends 'index.html' %}

<!-- Bloque del titulo -->
{% block titulo %}
    Creación de Cliente
{% endblock titulo %}

<!-- Bloque del body -->
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Creación de Cliente</div>
            <div class="card-body card-block">
                <form method="POST">
                    {% csrf_token %}
                    {% if error  %}
                        <h2>{{ error }}</h2>
                    {% else %}
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.rut.label }}</div>
                        <div class="col-12 col-md-9">{{ form.rut }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.nombres.label }}</div>
                        <div class="col-12 col-md-9">{{ form.nombres }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.apellido_paterno.label }}</div>
                        <div class="col-12 col-md-9">{{ form.apellido_paterno }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.apellido_materno.label }}</div>
                        <div class="col-12 col-md-9">{{ form.apellido_materno }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.email.label }}</div>
                        <div class="col-12 col-md-9">{{ form.email }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.telefono.label }}</div>
                        <div class="col-12 col-md-9">{{ form.telefono }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.direccion.label }}</div>
                        <div class="col-12 col-md-9">{{ form.direccion }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Crear
                            </button>
                            <button type="reset" class="btn btn-danger">
                                <i class="fa fa-ban"></i> Cancelar
                            </button>
                        </div>
                        <div class="col col-md-3">
                            
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Volver
                </button>
            </div>
        </div>
    </div><!-- /# column -->
</div>
{% endblock body %}