<!-- Heredar desde la plantilla Index -->
{% extends 'index.html' %}

<!-- Bloque del titulo -->
{% block titulo %}
    Eliminación de Cliente
{% endblock titulo %}

<!-- Bloque del body -->
{% block body %}
<form method="POST">
    {% csrf_token %}
    <h2>¿Desea eliminar el Cliente: {{ cliente.nombres }} {{ cliente.apellido_paterno }} ( {{ cliente.rut }} ) ?</h2>
        <button type="submit"> Eliminar </button>
        <a href="{% url 'cliente:listar_cliente' %}"> Cancelar </a>
</form>
{% endblock body %}