<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Creacion de pago</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_creacion" method="POST" action="{% url 'pago:crear_pago' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">

                </div>
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="form-group">
                            {{ form.credito.label }}
                            {{ form.credito }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.monto_pagado.label }}
                            {{ form.monto_pagado }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.fecha_pago.label }}
                            {{ form.fecha_pago }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.estado_pago.label }}
                            {{ form.estado_pago }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.tipo_pago.label }}
                            {{ form.tipo_pago }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar(listadoPagos());">Confirmar</button>
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacion();">Cancelar</button>
            </div>
        </form>
    </div>
</div>