<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Edición de pago: </h3>
            <h5>{{ object }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" method="POST" action="{% url 'pago:editar_pago' object.pk %}">
            {% csrf_token %}
            <div class="modal-body">
                <div id="erroresEdicion">

                </div>
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="form-group">
                            {{ form.credito.label }}
                            {{ form.credito }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.monto_pagado.label }}
                            {{ form.monto_pagado }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.fecha_pago.label }}
                            <input type="date" class="form-control" id="fecha_pago" name="fecha_pago" value="{{ form.fecha_pago.value|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.estado_pago.label }}
                            {{ form.estado_pago }}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            {{ form.tipo_pago.label }}
                            {{ form.tipo_pago }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar(listadoPagos());">Confirmar</button>
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
            </div>
        </form>
    </div>
</div>