<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edición de pago: {{ object }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" method="POST" action="{% url 'pago:editar_pago' object.pk %}">
            {% csrf_token %}
            <div class="modal-body">
                <div id="erroresEdicion">

                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editar(listadoPagos());">Confirmar</button>
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
            </div>
        </form>
    </div>
</div>