{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %}Gestionador - Asernet SPA {% endblock titulo %}</title>
    <meta name="description" content="Gestionador - Asernet SPA">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    {% block extracss %}
    {% endblock extracss %}

   <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'index' %}"><i class="menu-icon fa fa-laptop"></i>Inicio </a>
                    </li>
                    <li class="menu-title active" >Credito</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'cliente:inicio_cliente' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Clientes</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'cliente:inicio_cliente' %}">Listar Clientes</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'solicitud:inicio_solicitud' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-text"></i>Solicitudes</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'solicitud:inicio_solicitud' %}">Listar Solicitudes</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'credito:inicio_credito' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-credit-card-alt"></i>Creditos</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'credito:inicio_credito' %}">Listar Creditos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'pago:inicio_pago' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-money"></i>Pagos</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'pago:inicio_pago' %}">Listar Pagos</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">Banco</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'banco:inicio_banco' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-university"></i>Bancos</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'banco:inicio_banco' %}">Listar Bancos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'ejecutivo:inicio_ejecutivo' %}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Ejecutivos</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-list"></i><a href="{% url 'ejecutivo:inicio_ejecutivo' %}">Listar Ejecutivos</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logoAsernet.png' %}" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="{% url 'index' %}"><img src="{% static 'images/logoAsernet2.png' %}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'images/User.png' %}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                {% block body %}
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="pe-7s-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">{{ recuento_clientes_activos }}</span></div>
                                            <div class="stat-heading">Clientes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="pe-7s-copy-file"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">{{ recuento_solicitudes_activas }}</span></div>
                                            <div class="stat-heading">Solicitudes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-2">
                                        <i class="pe-7s-credit"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">{{ recuento_creditos_aprobados }}</span></div>
                                            <div class="stat-heading">Creditos Aprobados</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-3">
                                        <i class="pe-7s-cash"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">{{ recuento_pagos }}</span></div>
                                            <div class="stat-heading">Pagos</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Widgets -->
                <!--  Traffic  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Solicitudes por estado </h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <!-- <canvas id="TrafficChart"></canvas>   -->
                                        <!--<div id="traffic-chart" class="traffic-chart"></div>-->
                                        <canvas id="solicitudesChart" width="400" height="150"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-body">
                                        <div class="progress-box progress-1">
                                            <h4 class="por-title">Aprobadas</h4>
                                            <div class="por-txt">{{ recuento_solicitudes_aprobadas }} Solicitudes</div>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" 
                                                role="progressbar" 
                                                style="width: {{ recuento_solicitudes_aprobadas }}%;" 
                                                aria-valuenow="{{ recuento_solicitudes_aprobadas }}" 
                                                aria-valuemin="0" 
                                                aria-valuemax="{{ recuento_solicitudes_activas }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title">Rechazadas</h4>
                                            <div class="por-txt">{{ recuento_solicitudes_rechazadas }} Solicitudes</div>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-2" 
                                                role="progressbar" 
                                                style="width: {{ recuento_solicitudes_rechazadas }}%;" 
                                                aria-valuenow="{{ recuento_solicitudes_rechazadas }}" 
                                                aria-valuemin="0" 
                                                aria-valuemax="{{ recuento_solicitudes_activas }}"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title">En Espera</h4>
                                            <div class="por-txt">{{ recuento_solicitudes_espera }} Solicitudes</div>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-3" 
                                                role="progressbar" 
                                                style="width: {{ recuento_solicitudes_espera }}%;" 
                                                aria-valuenow="{{ recuento_solicitudes_espera }}" 
                                                aria-valuemin="0" 
                                                aria-valuemax="{{ recuento_solicitudes_activas }}"></div>
                                            </div>
                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title">Otros</h4>
                                            <div class="por-txt">{{ recuento_solicitudes_otros }} Solicitudes</div>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-4" 
                                                role="progressbar" 
                                                style="width: {{ recuento_solicitudes_otros }}%;" 
                                                aria-valuenow="{{ recuento_solicitudes_otros }}" 
                                                aria-valuemin="0" 
                                                aria-valuemax="{{ recuento_solicitudes_activas }}"></div>
                                            </div>
                                        </div>
                                    </div> <!-- /.card-body -->
                                </div>
                            </div> <!-- /.row -->
                            <div class="card-body"></div>
                        </div>
                    </div><!-- /# column -->
                </div>
                <div class="row">
                    <!-- To Do -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title box-title">Distribución de Montos Solicitados por Tipo de Crédito</h4>
                                <div class="card-content">
                                    <canvas id="montosSolicitadosChart" width="400" height="186"></canvas>
                                </div>
                            </div> <!-- /.card-body -->
                        </div><!-- /.card -->
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title box-title">Porcentaje de Créditos</h4>
                                <div class="card-content">
                                    <canvas id="creditosPieChart" width="400" height="100"></canvas>
                                </div>
                            </div> <!-- /.card-body -->
                        </div>
                    </div> <!-- /.col-md-4 -->
                </div>
                <!-- ToDo Calender -->
                <div class="orders">
                    <div class="row">
                        <!-- To Do -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title box-title">Listado de pagos pendientes</h4>
                                    <div class="card-content">
                                        <div class="todo-list">
                                            <div class="tdl-holder">
                                                <div class="tdl-content">
                                                    <ul>
                                                        {% for pago in pagos_pendientes %}
                                                        {% csrf_token %}
                                                            <li>
                                                                <label>
                                                                    <input type="checkbox"><i class="check-box"></i>
                                                                    <span>{{ pago }}</span>
                                                                    <a class="fa fa-times" onclick="abrir_modal_eliminacion('/pago/eliminar_pago/{{ pago.id }}')" title="Eliminar Pago"></a>
                                                                    <a class="fa fa-check" onclick="aprobarPago('{{ pago.id }}')" title="Aprobar Pago"></a>
                                                                </label>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                            </div>
                                        </div> <!-- /.todo-list -->
                                        <!-- Agrega enlaces de paginación -->
                                        <div class="pagination">
                                            <span class="step-links">
                                                {% if pagos_pendientes.has_previous %}
                                                    <a href="?page=1">&laquo; Primera</a>
                                                    <a href="?page={{ pagos_pendientes.previous_page_number }}">&lsaquo; Anterior</a>
                                                {% endif %}

                                                <span class="current">
                                                    Página {{ pagos_pendientes.number }} de {{ pagos_pendientes.paginator.num_pages }}.
                                                </span>

                                                {% if pagos_pendientes.has_next %}
                                                    <a href="?page={{ pagos_pendientes.next_page_number }}">Siguiente &rsaquo;</a>
                                                    <a href="?page={{ pagos_pendientes.paginator.num_pages }}">Ultima &raquo;</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div> <!-- /.card-body -->
                            </div><!-- /.card -->
                            <div class="modal fade" id="creacion" role="dialog">
                            </div>
                        
                            <div class="modal fade" id="edicion" role="dialog">
                            </div>
                        
                            <div class="modal fade" id="eliminacion" role="dialog">
                            </div>
                        </div>
                        <!-- /To Do -->
                    </div>
                </div>

                <!-- /.ToDo -->
            {% endblock body %}
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; {% now 'Y' %} Asernet
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    {% block extrajs %}{% endblock extrajs %}

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="{% static 'js/init/weather-init.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="{% static 'js/init/fullcalendar-init.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/solicitudes_line_chart.js' %}"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var data = {
                labels: [
                    "Crédito de Consumo",
                    "Crédito Hipotecario",
                    "Crédito Automotriz"
                    // Agrega más tipos según tus necesidades
                ],
                datasets: [{
                    label: 'Montos Solicitados por Tipo de Crédito',
                    data: [
                        {{ monto_solicitado_consumo }},
                        {{ monto_solicitado_hipotecario }},
                        {{ monto_solicitado_automotriz }}
                        // Agrega más montos según tus necesidades
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)'
                        // Agrega más colores según tus necesidades
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                        // Agrega más colores según tus necesidades
                    ],
                    borderWidth: 1
                }]
            };
    
            var options = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };
    
            var ctx = document.getElementById('montosSolicitadosChart').getContext('2d');
    
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        });
    </script>

    <!-- Agrega el script para el gráfico de pastel de créditos -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var creditosData = {
                labels: ["Activos", "Pagados", "Vencidos"],
                datasets: [{
                    data: [
                        {{ porcentaje_creditos_activos }},
                        {{ porcentaje_creditos_pagados }},
                        {{ porcentaje_creditos_vencidos }}
                    ],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(255, 206, 86, 0.5)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            var creditosOptions = {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                return previousValue + currentValue;
                            });
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                            return currentValue + ' créditos (' + percentage + '%)';
                        }
                    }
                }
            };

            var creditosCtx = document.getElementById('creditosPieChart').getContext('2d');

            var myCreditosPieChart = new Chart(creditosCtx, {
                type: 'pie',
                data: creditosData,
                options: creditosOptions
            });
        });
    </script>


    <script>
        var data = {
            labels: ["En Espera", "Aprobadas", "Rechazadas", "Otros"],
            datasets: [{
                label: 'Solicitudes por estado',
                data: [
                    {{ recuento_solicitudes_espera }},
                    {{ recuento_solicitudes_aprobadas }},
                    {{ recuento_solicitudes_rechazadas }},
                    {{ recuento_solicitudes_otros }}
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        };
    
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };
    
        var ctx = document.getElementById('solicitudesChart').getContext('2d');
    
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    </script>

    <script>
        $(document).ready(function () {
            // Función para cargar notificaciones
            function cargarNotificaciones() {
                $.ajax({
                    url: '/',  // Reemplaza esto con la URL correcta
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Actualiza el contador de notificaciones
                        $('#notification-count').text(data.length);
                        $('#notification-count-display').text(data.length);
        
                        // Limpia la lista de notificaciones existente
                        $('#notification-list').empty();
        
                        // Itera sobre las notificaciones y las agrega a la lista
                        data.forEach(function (notificacion) {
                            var icono = 'fa-info';  // Puedes ajustar el icono según tu lógica
        
                            // Crea un elemento de notificación
                            var notificationItem = $('<a/>', {
                                class: 'dropdown-item media',
                                href: '#',
                                html: '<i class="fa ' + icono + '"></i><p>' + notificacion.mensaje + '</p>'
                            });
        
                            // Agrega la notificación a la lista
                            $('#notification-list').append(notificationItem);
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        
            // Carga las notificaciones al cargar la página
            cargarNotificaciones();
        
            // Actualiza las notificaciones cada cierto intervalo de tiempo (puedes ajustar según tus necesidades)
            setInterval(cargarNotificaciones, 60000);  // 1 minuto en milisegundos
        });
    </script>

    <script>
        var recuento_solicitudes_aprobadas = {{ recuento_solicitudes_aprobadas }};
        var recuento_solicitudes_rechazadas = {{ recuento_solicitudes_rechazadas }};
        var recuento_solicitudes_espera = {{ recuento_solicitudes_espera }};
        var recuento_solicitudes_otros = {{ recuento_solicitudes_otros }};
    </script>

    <!--Local Stuff-->
    <script>
        document.getElementById('boton-volver').addEventListener('click', function() {
            // Obtiene la URL anterior del objeto document.referrer
            var urlAnterior = document.referrer;
        
            // Redirige al usuario a la URL anterior
            if (urlAnterior) {
                window.location.href = urlAnterior;
            } else {
                // Si no hay URL anterior, puedes redirigir al usuario a una página predeterminada
                window.location.href = "{% url 'index' %}"; // Reemplaza '/pagina_predeterminada/' con la URL deseada
            }
        });
    </script> 
    <script>
        $(document).ready(function () {
            // Obtiene la URL actual
            var currentUrl = window.location.pathname;
        
            // Recorre los enlaces del menú
            $('#main-menu a').each(function() {
                var linkUrl = $(this).attr('href');
                
                // Compara la URL actual con la URL del enlace
                if (currentUrl === linkUrl) {
                    // Agrega la clase "active" a la sección seleccionada
                    $(this).parent().addClass('active');
                } else {
                    // Elimina la clase "active" de otras secciones
                    $(this).parent().removeClass('active');
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function($) {
            "use strict";

            // Pie chart flotPie1
            var piedata = [
                { label: "Desktop visits", data: [[1,32]], color: '#5c6bc0'},
                { label: "Tab visits", data: [[1,33]], color: '#ef5350'},
                { label: "Mobile visits", data: [[1,35]], color: '#66bb6a'}
            ];

            $.plot('#flotPie1', piedata, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.65,
                        label: {
                            show: true,
                            radius: 2/3,
                            threshold: 1
                        },
                        stroke: {
                            width: 0
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });
            // Pie chart flotPie1  End
            // cellPaiChart
            var cellPaiChart = [
                { label: "Direct Sell", data: [[1,65]], color: '#5b83de'},
                { label: "Channel Sell", data: [[1,35]], color: '#00bfa5'}
            ];
            $.plot('#cellPaiChart', cellPaiChart, {
                series: {
                    pie: {
                        show: true,
                        stroke: {
                            width: 0
                        }
                    }
                },
                legend: {
                    show: false
                },grid: {
                    hoverable: true,
                    clickable: true
                }

            });
            // cellPaiChart End
            // Line Chart  #flotLine5
            var newCust = [[0, 3], [1, 5], [2,4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

            var plot = $.plot($('#flotLine5'),[{
                data: newCust,
                label: 'New Data Flow',
                color: '#fff'
            }],
            {
                series: {
                    lines: {
                        show: true,
                        lineColor: '#fff',
                        lineWidth: 2
                    },
                    points: {
                        show: true,
                        fill: true,
                        fillColor: "#ffffff",
                        symbol: "circle",
                        radius: 3
                    },
                    shadowSize: 0
                },
                points: {
                    show: true,
                },
                legend: {
                    show: false
                },
                grid: {
                    show: false
                }
            });
            // Line Chart  #flotLine5 End
            // Traffic Chart using chartist
            if ($('#traffic-chart').length) {
                var chart = new Chartist.Line('#traffic-chart', {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                  series: [
                  [0, 18000, 35000,  25000,  22000,  0],
                  [0, 33000, 15000,  20000,  15000,  300],
                  [0, 15000, 28000,  15000,  30000,  5000]
                  ]
              }, {
                  low: 0,
                  showArea: true,
                  showLine: false,
                  showPoint: false,
                  fullWidth: true,
                  axisX: {
                    showGrid: true
                }
            });

                chart.on('draw', function(data) {
                    if(data.type === 'line' || data.type === 'area') {
                        data.element.animate({
                            d: {
                                begin: 2000 * data.index,
                                dur: 2000,
                                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                to: data.path.clone().stringify(),
                                easing: Chartist.Svg.Easing.easeOutQuint
                            }
                        });
                    }
                });
            }
            // Traffic Chart using chartist End
            //Traffic chart chart-js
            if ($('#TrafficChart').length) {
                var ctx = document.getElementById( "TrafficChart" );
                ctx.height = 150;
                var myChart = new Chart( ctx, {
                    type: 'line',
                    data: {
                        labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
                        datasets: [
                        {
                            label: "Visit",
                            borderColor: "rgba(4, 73, 203,.09)",
                            borderWidth: "1",
                            backgroundColor: "rgba(4, 73, 203,.5)",
                            data: [ 0, 2900, 5000, 3300, 6000, 3250, 0 ]
                        },
                        {
                            label: "Bounce",
                            borderColor: "rgba(245, 23, 66, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(245, 23, 66,.5)",
                            pointHighlightStroke: "rgba(245, 23, 66,.5)",
                            data: [ 0, 4200, 4500, 1600, 4200, 1500, 4000 ]
                        },
                        {
                            label: "Targeted",
                            borderColor: "rgba(40, 169, 46, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(40, 169, 46, .5)",
                            pointHighlightStroke: "rgba(40, 169, 46,.5)",
                            data: [1000, 5200, 3600, 2600, 4200, 5300, 0 ]
                        }
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        }

                    }
                } );
            }
            //Traffic chart chart-js  End
            // Bar Chart #flotBarChart
            $.plot("#flotBarChart", [{
                data: [[0, 18], [2, 8], [4, 5], [6, 13],[8,5], [10,7],[12,4], [14,6],[16,15], [18, 9],[20,17], [22,7],[24,4], [26,9],[28,11]],
                bars: {
                    show: true,
                    lineWidth: 0,
                    fillColor: '#ffffff8a'
                }
            }], {
                grid: {
                    show: false
                }
            });
            // Bar Chart #flotBarChart End
        });
    </script>
</body>
</html>
